@import "tailwindcss";

@font-face {
    font-family: "Itim";
    src: url("/fonts/Itim-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: "Itim", sans-serif;
    --color-primary: #3b3e4f;
    --color-text-primary: #e9efff;
    --color-text-secondary: #b78faf;
    --color-success: #00b389;
    --color-surface: #555269;
    --radius-primary: 0.75rem;
}

html,
body {
    @apply text-text-primary bg-primary;
}
